# general
*~
*.log
tmp
dump
#SBT
dist
project/boot
project/target/
project/plugins/target/
target/
.target/
modules/common/target/
modules/web/target/
modules/admin/target/
logs/

# Play
logs
RUNNING_PID
.idea

