@other_main("Student Connect | All Institutions"){
        <div class="row" id="content">
            <div class="col-md-offset-2 col-md-8">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Universities</a></li>

                </ul>

                <div class="tab-content">
                    <br>
                    <div id="unis" class="tab-pane fade in active">

                        <div class="row">
                            <div class="col-md-12">

                                <div class="media uni-items">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src='@routes.Assets.at("images/jkuat_Logo.jpg")' alt="Jkuat">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading campus_name">JKUAT</h4>
                                        <p>JKUAT values the need for transformational leadership to steer the University towards achieving her vision and mission and contribute towards the social and economic development of the country.</p>
                                        <p><a href="detail"><i class="fa fa-plus fa-fw"></i>Read More</a></p>
                                    </div>
                                </div>

                                <hr class="intro-divider" width="60%"/>

                            </div>



                            <div class="col-md-12">

                                <div class="media uni-items">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src='@routes.Assets.at("images/ku_logo.png")' alt="KU">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading campus_name">KU</h4>
                                        <p>Kenyatta University is one of the leading universities in Kenya judging by the quality of our graduates. Our aim is not only to maintain this position, but to improve further and attain our vision of becoming a world-class university that is committed to quality and relevance.</p>
                                        <p><a href="university_details.php"><i class="fa fa-plus fa-fw"></i>Read More</a></p>
                                    </div>
                                </div>

                                <hr class="intro-divider" width="60%"/>

                            </div>

                            <div class="col-md-12">

                                <div class="media uni-items">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src='@routes.Assets.at("images/mku_logo.jpg")' alt="KU">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading campus_name">MKU</h4>
                                        <p>Mount Kenya University (MKU) is a fully fledged chartered university committed to a broad-based, wholistic and inclusive system of education. It has an overall goal of promoting human resource development for society’s progressive good.</p>
                                        <p><a href="university_details.php"><i class="fa fa-plus fa-fw"></i>Read More</a></p>
                                    </div>
                                </div>

                                <hr class="intro-divider" />

                            </div>


                        </div>


                    </div>


                </div>

            </div>
        </div>
}{<div></div>}