@main("Student Connect | Search All Institutions and Compare Courses and Fees"){
    <div class="col-md-12">
        <h2 align="center">Select an Area of Study</h2>
        <hr class="intro-divider" />

        <div class="row">

            <div class="col-md-2" data-toggle="tooltip" data-placement="left" title="Business">
                <div class="thumbnail service-thumb">
                    <i class="fa fa-briefcase fa-3x fa-fw"></i>
                    <div class="caption">
                        <h4></h4>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="thumbnail service-thumb" data-toggle="tooltip" data-placement="left" title="Law">
                    <i class="fa fa-balance-scale fa-3x fa-fw" aria-hidden="true"></i>
                    <div class="caption">
                        <h4></h4>
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <div class="thumbnail service-thumb" data-toggle="tooltip" data-placement="left" title="Medicine">
                    <i class="fa fa-user-md fa-3x fa-fw" aria-hidden="true"></i>
                    <div class="caption">

                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="thumbnail service-thumb" data-toggle="tooltip" data-placement="left" title="Engineering">
                    <i class="fa fa-wrench fa-3x fa-fw" aria-hidden="true"></i>
                    <div class="caption">

                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="thumbnail service-thumb" data-toggle="tooltip" data-placement="left" title="Hospitality">
                    <i class="fa fa-cutlery fa-3x fa-fw" aria-hidden="true"></i>
                    <div class="caption">

                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="thumbnail service-thumb" data-toggle="tooltip" data-placement="left" title="IT">
                    <i class="fa fa-laptop fa-3x fa-fw" aria-hidden="true"></i>
                    <div class="caption">

                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="thumbnail service-thumb" data-toggle="tooltip" data-placement="left" title="Accounting">
                    <i class="fa fa-calculator fa-3x fa-fw" aria-hidden="true"></i>
                    <div class="caption">
                        <h4></h4>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="thumbnail service-thumb" data-toggle="tooltip" data-placement="left" title="Arts">
                    <i class="fa fa-paint-brush fa-3x fa-fw" aria-hidden="true"></i>
                    <div class="caption">
                        <h4></h4>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="thumbnail service-thumb" data-toggle="tooltip" data-placement="left" title="Massmedia">
                    <i class="fa fa-video-camera fa-3x fa-fw" aria-hidden="true"></i>
                    <div class="caption">

                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="thumbnail service-thumb" data-toggle="tooltip" data-placement="left" title="Music">
                    <i class="fa fa-music fa-3x fa-fw" aria-hidden="true"></i>
                    <div class="caption">

                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="thumbnail service-thumb" data-toggle="tooltip" data-placement="left" title="Eraly Childhood Education">
                    <i class="fa fa-child fa-3x fa-fw" aria-hidden="true"></i>
                    <div class="caption">

                    </div>
                </div>
            </div>



            <div class="col-md-2">
                <div class="thumbnail service-thumb" data-toggle="tooltip" data-placement="left" title="Sports">
                    <i class="fa fa-futbol-o fa-3x fa-fw" aria-hidden="true"></i>
                    <div class="caption">

                    </div>
                </div>
            </div>

        </div>

    </div>
}{<div></div>}