table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
    height: 25px;

}

tr:nth-child(even){
    background-color: #f2f2f2
}

th {
    background-color: #028FCC;
    color: white;
    text-align: center;
}
