body{
	font-family: 'Raleway', sans-serif;
}
#content{
	margin-top: 100px;
}

.navbar-brand {
    color: #FFF;
    font-family: 'Lobster', cursive;
    font-size: 45px;
}
.slider-caption{
	font-size: 30px;
	font-weight: 1000 !important;

}
.caption-container{
	background: rgba(0,0,0,0.6);
	padding: 2% 10%;
}

#content{

	/*min-height: 350px;*/

}

#campus_navbar{
	padding-top: 15px;
	padding-bottom: 15px;
	background: #028FCC;
}
#main_slider{
	height: 350px;
	margin-bottom: 15px;
}
#slider-row{
	padding-left: 0px;
	padding-right: 0px;
}
.item{
	height: 350px;
}
.item img{

	height: 350px;
	width: 100%;

}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.footer {
    padding: 2em 0;
    background: #444;
    color: #FFF;
    margin-top: 5%;

}
.footer_bottom {
    padding: 2em 0;
    background: #333;
    bottom:0;
}
.media-object{
	height: 100px;
	width: 100px;
}
.campus_name{
	color: #028FCC;
}
.uni-items{
	padding-top: 5px;
	padding-bottom: 5px;
}
.service-thumb{
	text-align: center;
	height: 150px;
	padding-top:25%;
	padding-bottom: 5%;
	border-style:solid;
	background: #FFF;
	color: #028FCC;
}
.service-thumb:hover{

	background: #028FCC;
	color: #FFF;
	cursor: pointer;
	transform:scale(1.1);
	transition:0.3s;


}
#subscribe-label{
	color: #FFF;
}

.mega-dropdown {
  position: static !important;


 
}
.mega-dropdown-menu {
    top:80px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-top: 1%;
    padding-bottom: 1%;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

#navbar_input{
	width:300%;
	height: 30px;
}

.subscribe-row{
	position:fixed;
	bottom: 0px;
	margin:0px 0px;
	background: #EF4824;
	color: #FFF;
	width:100%;
	padding-top:10px;
	padding-bottom: 10px;
	text-align: center;
}
#subscribe_email{

	width:300px;
	height: 30px;

}
.close_subscribe{
	color: #FFF;
	right:0;

}
.logo_thumb{
	border: none;
}
.list-group-item-heading{

	color: #028FCC !important;

}
.footer_menu a{
	color: #FFF;
}
.contact_info{
	border: none;
}
.rank_thumb{
	text-align: center;
	
}
.rank_thumb .caption h1{

	color: #028FCC;


}
#famous_row{
	text-align: center;
}

.fb_link{

	color: #3b5998;
}
.twitter_link{
	color: #55acee;
}
.linked_ln{

	color: #007bb5;
}
.search_btn{
	float:left;
	height: 30px;
}



