@(courseInstitutionModeOfStudyForm: Form[models.web.CourseInstitutionModeOfStudy])(modeOfStudyMap: Map[String,Boolean])(InstitutionCourseList: List[models.web.InstitutionCourse])
@import helper._
@import formfieldtemplates._
@import java.util._

@admin_main("New School | Admin"){
@helper.form(action=controllers.admincontrollers.routes.InstitutionActions.saveModeOfStudy(), 'onsubmit->"return validateAddModeOfStudyForm()",'id->"modeofstudyform",'name->"modeofstudyform",'method->"post"){
@if(flash.containsKey("modeofstudysuccess")){
<div class="alert alert-success">
    @flash.get("modeofstudysuccess")
</div>
}

@if(flash.containsKey("modeofstudyerror")){
<div class="alert alert-danger">
    @flash.get("modeofstudyerror")
</div>
}

<fieldset>
        <legend>Add mode of study to University Courses</legend>

        <input type="hidden"  value="@courseInstitutionModeOfStudyForm("course_institution_mode_of_study_id").valueOr("")" name="course_institution_mode_of_study_id"/>
        <div class="form-group">
                <label class="col-sm-3 control-label" for="course_name">Select course </label>
                <div class="col-sm-9">

                        <table id="certification-courses-table">
                                <thead>
                                <tr>
                                        <th>Course Name</th>
                                        <th>University</th>
                                        <th>Campus</th>
                                        <th>Select</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                <tr>
                                        <th>Course Name</th>
                                        <th>University</th>
                                        <th>Campus</th>
                                        <th>Select</th>
                                </tr>
                                </tfoot>

                                <tbody>
                                @for(course <- InstitutionCourseList){
                                <tr>
                                        <td>@course.course.course_name</td>
                                        <td>@course.institution.institution_name</td>
                                        <td>@course.campus.campus_name</td>
                                        <td><input type="radio" required name="institution_course" value="@course.institution_course_id"></td>
                                </tr>
                                }
                                </tbody>
                        </table>

                </div>
        </div>

        @formfieldtemplates.checkbox(courseInstitutionModeOfStudyForm("mode_of_study"),
                label = "Select mode of study:",
                checkboxMap = modeOfStudyMap
        )

</fieldset>
<hr>
<div class="row">
    <p align="right"> <input  type="submit" class="btn btn-primary" value="Add mode of study" id="mode-of-study-submit-btn"/></p>

</div>

}
}