@(courseFieldForm: Form[models.web.CourseField])
@import helper._
@import formfieldtemplates._

@admin_main("New Course Fields | Admin"){
<script>tinymce.init({ selector:'textarea' });</script>
@helper.form(action=controllers.admincontrollers.routes.CourseActions.saveCourseField(),
'id->"coursefieldform",'name->"coursefieldform", 'method->"post"){
        @if(flash.containsKey("coursefieldformsuccess")){
        <div class="alert alert-success">
            @flash.get("coursefieldformsuccess")
        </div>
        }
        <fieldset>
            <legend>Add New Course Field</legend>
            <!--Used to differentiate new form or form editing-->
            <input type="hidden"  value="@courseFieldForm("course_field_id").valueOr("")" name="course_field_id"/>

            @text(courseFieldForm("course_field_name"),
            label = "Course Field name",
            placeholder = "Course Field name (e.g. Engineering, Business etc..)",
            divClass="col-sm-9")

            @formfieldtemplates.textarea(courseFieldForm("course_field_description"),
            label="Course field description",
            placeholder = "Type your course description here...... ",
            rows="4",
            divClass="col-sm-9")

        </fieldset>

                    <p align="right"><input  type="submit" class="btn btn-primary" value="Save" id="course-field-submit-btn"></p>





    }
}
